h1 {
  color: rgb(214, 157, 0);
}

p {
  font-size: 2.1vh;
  color: aliceblue;
}

.logo {
  background-color: rgb(214, 157, 0);
  color: rgb(35, 35, 43);
  font-size: 2vh;
  font-weight: bolder;
  height: 8%;
  border: pink;
  border-radius: 4px;
  cursor: crosshair;
  display: block;
  width: 100%;
}

* {
  box-sizing: border-box;
}
a:link {
  color: rgb(35, 35, 43);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(35, 35, 43);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(35, 35, 43);
  background-color: transparent;
  background-size: 200px;
}

a:active {
  color: rgb(255, 255, 255);
}

body {
  margin: 0;
  background-color:  gray;   /* rgb(28, 28, 32);*/
}
/* make the sidebar come out smoothly */
body::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: rgb(214, 157, 0);
}
body::-webkit-scrollbar-thumb {
  background: #1e1e24;
} 


.content {
  box-sizing: border-box;
  position: absolute;
  left: 6%;
  right: 0; /* Adjust the right value to match the width of the sidebar */
  top: 0;
  bottom: 0;
  background-color: rgb(28, 28, 32);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
.sidebar {
  box-sizing: border-box;
  position: absolute; /* Change from fixed to absolute */
  width: 6%;
  height: 100%;
  background-color: rgb(35, 35, 43);
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 20px;
  left: 0; /* Add this property to position the sidebar on the left */
}

 .sidebar:hover {

  width: 11.7%; /* increase the width */
  transform: translateX(0);
}

.sidebar:hover + .content {
  transform: translateX(6%);
  transition: transform 0.3s ease-in-out;
  /*max-width: 88.7%;*/
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50vh,1fr));
  grid-gap: 20px;
  margin: 20px;
}

.sidebar:hover + .content .grid {
  grid-template-columns: repeat(3, 2fr);
}
.btn {
  /* ... other styles ... */
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  padding: 20px;
}

p {
  padding: 20px;
}

#counter {
  color: aliceblue;
  font-size: x-large;
  font-weight: bold;
}

.block {
  color: rgb(0, 0, 0);
  display: block;
  background-color: rgb(214, 157, 0);
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 6px;
  padding-bottom: 1%;
  padding-top: 0%;
  margin-bottom: 2.5vh;
}
.blockbtn{
  
  text-size-adjust: bold;
  color: rgb(0, 0, 0);
  display: block;
  background-color: rgb(214, 157, 0);
  padding-left: 20%;
  padding-right: 30%;
  border-radius: 6px;
  padding-bottom: 7%;
  padding-top: 6%;
  font-weight: bolder;
  font-size: 1.8vh;
  margin-top: 2.5vh;
  width: 110%;
  text-align: center;
  
}
.sidebar:hover .blockbtn {
  font-stretch:ultra-expanded;
  transition: 0.3s ease-in-out;
}
#settings {
  font-size: 1.8vh;
  padding-left: 5%;
  position: absolute;
  bottom: 5%;
}

.item {
  background-color: #333333;
  padding: 10.7vh;
  padding-bottom: 4vh;
  padding-top: 6vh;
  text-align: center;
  font-size: 4vh;
  font-weight: bolder;
  border-radius: 20px;
  color: rgb(214, 157, 0);
}

.progress-1 {
  width:38.5vh;
  height:5.8vh;
  border-radius: 20px;
  color:rgb(214, 157, 0);
  border:2px solid;
  position: relative;
  top: 50px;
  background:
  linear-gradient(orange 0 0) 0/0% no-repeat
  rgb(35, 35, 43);;
 /*animation: l2 12s infinite steps(8);*/
}
/*@keyframes l2 {
   100% {background-size: 120%}
}*/
.action_btn {
  margin-left:5vh;
  margin-right:6vh;
  margin-top: 8vh;
  background-color: rgb(214, 157, 0);
  color: rgb(35, 35, 43);
  font-size: 3vh;
  font-weight: bolder;
  border-radius: 1vh;
  display: block;
  width: 6.7vh;
  height: 5.7vh;
  display: inline;
}